.score-card:hover{
    transform: scale(1.05);
    transition: all ease-in 0.1s;
}

.loader {
  background-image: conic-gradient(rgb(132, 0, 255) 0%, rgb(174, 0, 255) 45%, rgb(255, 0, 162) 90%, rgb(227, 227, 227) 10%);
  height: 220.71px;
  transform: scale(0.7) translateY(-1rem);
}

.score-card section{
    transform: translateY(-1.5rem);
}

.score-card{
    box-shadow: 0 9px 28px rgba(176,190,197,.32), 0 5px 9px rgba(176,190,197,.36);
}